In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
dataset = pd.read_csv("PlayTennis.csv")

In [13]:
mapping = {"Sunny":1,"Overcast":2,"Rain":3}
dataset = dataset.replace({"Outlook":mapping})
mapping = {"Hot":1,"Mild":2,"Cool":3}
dataset = dataset.replace({"Temperature":mapping})
mapping = {"High":1,"Normal":2}
dataset = dataset.replace({"Humidity":mapping})
mapping = {"Strong":1,"Weak":2}
dataset = dataset.replace({"Wind":mapping})
mapping = {"Yes":1,"No":2}
dataset = dataset.replace({"Play Tennis":mapping})

In [14]:
dataset.head(15)

    Outlook  Temperature  Humidity  Wind  Play Tennis
0         1            1         1     2            2
1         1            1         1     1            2
2         2            1         1     2            1
3         3            2         1     2            1
4         3            3         2     2            1
5         3            3         2     1            2
6         2            3         2     1            1
7         1            2         1     2            2
8         1            3         2     2            1
9         3            2         2     2            1
10        1            2         2     1            1
11        2            2         1     1            1
12        2            1         2     2            1
13        3            2         1     1            2

In [15]:
X = pd.DataFrame(dataset[['Outlook','Temperature','Humidity','Wind']])
Y = pd.DataFrame(dataset['Play Tennis'])

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [18]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(criterion="mse",random_state=100,max_depth=4,min_samples_leaf=1)

In [19]:
regressor.fit(X_train,Y_train)

C:\Users\Brendan\anaconda3\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(

DecisionTreeRegressor(criterion='mse', max_depth=4, random_state=100)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
y_pred

In [ ]:
Y_test["Play Tennis"]

In [ ]:
from sklearn.metrics import accuracy_score,mean_squared_error
accu = accuracy_score(y_pred,Y_test)
mse = mean_squared_error(y_pred,Y_test)
print("Accuracy",accu)